In [1]:
spark.sql("""
SELECT current_timestamp() as ts,
current_timezone() as tz,
current_date() as date,
TIMESTAMP 'yesterday' as yesterday,
TIMESTAMP 'today' as today,
TIMESTAMP 'tomorrow' as tomorrow
""").show(6,0,true)

NameError: name 'spark' is not defined

In [2]:
from pyspark.sql import SparkSession

In [6]:
from pyspark.sql import SparkSession

# Create a new SparkSession with Apache Hive Support
spark = SparkSession.builder \
    .master("local") \
    .appName("hive-support") \
    .enableHiveSupport() \
    .getOrCreate()

# List available databases
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [8]:
spark.sql("""
SELECT current_timestamp() as ts,
current_timezone() as tz,
current_date() as date,
TIMESTAMP 'yesterday' as yesterday,
TIMESTAMP 'today' as today,
TIMESTAMP 'tomorrow' as tomorrow
""").show()

+--------------------+-------+----------+-------------------+-------------------+-------------------+
|                  ts|     tz|      date|          yesterday|              today|           tomorrow|
+--------------------+-------+----------+-------------------+-------------------+-------------------+
|2024-05-12 20:21:...|Etc/UTC|2024-05-12|2024-05-11 00:00:00|2024-05-12 00:00:00|2024-05-13 00:00:00|
+--------------------+-------+----------+-------------------+-------------------+-------------------+