## Joins!

- More likely, you will have to stitch data from a few different sources together in order to create the data representation needed to solve the problem at hand.

- Joins are common within the data pipeline as a solution to combining data. 
- These workflows fall under the umbrella of the ETL and can be used whenever you need to strategically combine and transform multiple sources of data into a single consolidated view that can be used to answer more targeted problems.
- For example, say we were tasked with creating a job that generates the current available occupancy data for our coffee shops. For the sake of the exercise, let’s say we already have a source of data that emits the number of occupied seats per coffee shop. 
- We can use this data to join with our coffee stores data to create a new view that we can query to find which store can seat a variable sized party.

## Joins
You can take advantage of joins to combine two or more sources across a join criteria (eg. special selection predicate). There are a few different ways to join your data and selecting the appropriate join style is critically important to the resulting rows returned post-query.

### Join Styles
* **Innter Join** - Selects all rows where the conditions are fulfilled across both sides of the join
* **Right Join**  - Returns all rows from the right-hand view or dataframe, joining all rows where the conditions are met on the left-hand, or appending nulls when conditions are not met
* **Left Join**   - Returns all rows from the left-hand view or dataframe, joining all rows where the conditions are also met on the right-hand side, or appending nulls when conditions are not met
* **Semi Join**  - Returns all rows from the left-hand view or dataframe only if the right-hand condition is met (can use to create a selection filter that uses another reference (dataframe or view) without joining any data from the right-hand side of the join. Eg. "I want to see all stores that have current occupancy data otherwise I am not interested"
* **Full Join**   - Returns all rows across both views or dataframes, filling in null values on either side that doesn't meet the match criteria

In [1]:
# Import required modules
from pyspark.sql import SparkSession
from datetime import datetime
from pyspark.sql import functions as f
from pyspark.sql import *
from pyspark.sql.types import *
# Delta is a storage layer for data lakes
from delta.tables import * 
# DeltaTable is the main class for Delta tables
from delta.tables import DeltaTable 

# Initialize SparkSession
# Create a SparkSession and set the extraClassPath configuration
spark = SparkSession.builder.master("local[1]") \
    .appName("StoreOccupants") \
    .config("spark.driver.extraClassPath", "/home/jovyan/work/jars/*") \
    .getOrCreate()


# Define the schema for the Store class.
store_schema = StructType([
    StructField("name", StringType(), True),
    StructField("capacity", IntegerType(), True),
    StructField("opens", IntegerType(), True),
    StructField("closes", IntegerType(), True)
])

# Create a list of Row objects
stores = [
    Row("a", 24, 8, 20),
    Row("b", 36, 7, 21),
    Row("c", 18, 5, 23)
]

# Create a PySpark DataFrame from the Row objects and schema
stores_sdf = spark.createDataFrame(stores, store_schema)
stores_sdf.show()

# Define the schema for the Occupants
schema = StructType([
  StructField("storename", StringType(), True),
  StructField("occupants", IntegerType(), True)
])

# Create a PySpark DataFrame from the occupants sequence
occupants_sdf = spark.createDataFrame([
  ("a", 8),
  ("b", 20),
  ("c", 16),
  ("d", 55),
  ("e", 8)
], schema)

# Show the DataFrame
occupants_sdf.show()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

+----+--------+-----+------+
|name|capacity|opens|closes|
+----+--------+-----+------+
|   a|      24|    8|    20|
|   b|      36|    7|    21|
|   c|      18|    5|    23|
+----+--------+-----+------+

+---------+---------+
|storename|occupants|
+---------+---------+
|        a|        8|
|        b|       20|
|        c|       16|
|        d|       55|
|        e|        8|
+---------+---------+

### Create SQL view

In [2]:
# Register the stores and occupants DataFrames as temporary views
stores_sdf.createOrReplaceTempView("stores")
occupants_sdf.createOrReplaceTempView("occupants")

## Inner Join

- The inner join is the simplest to understand and just so happens to also be the default join operation in Spark (given this is usually how people want to join data). 
- The inner join works by selecting only the rows that meet the join selection criteria across both sides of the data being joined.
- Inner joins simply ignore all rows that don’t have a matching join condition. Next up, let’s look at the right join.

In [21]:
# Create a View.
stores_sdf.createOrReplaceTempView("stores")
occupants_sdf.createOrReplaceTempView("occupants")

# Execute the SparkSQL query 
query = """
  SELECT *
  FROM stores
  INNER JOIN occupants
  ON stores.name = occupants.storename
"""

# Perfom Join Operation
inner_joined = spark.sql(query)
inner_joined.show()

+----+--------+-----+------+---------+---------+
|name|capacity|opens|closes|storename|occupants|
+----+--------+-----+------+---------+---------+
|   a|      24|    8|    20|        a|        8|
|   b|      36|    7|    21|        b|       20|
|   c|      18|    5|    23|        c|       16|
+----+--------+-----+------+---------+---------+

- The result of our join operation is a new DataFrame that combines all the columns of our two data sources where the join criteria is met. 
- In this case, that’s where there is a matching store name across both data sources.

## Right Join

- The right join, or right outer join, returns all rows from the right-side data source explicitly joining all rows where the selection criteria is met with the left side of the data. 
- When and the data doesn’t match, it will insert null values instead.

In [16]:
# Create a View.
stores_sdf.createOrReplaceTempView("stores")
occupants_sdf.createOrReplaceTempView("occupants")

# Write a Query 
query = """
  SELECT *
  FROM stores
  RIGHT JOIN occupants
  ON stores.name = occupants.storename
"""

# Perfom Join Operation
right_joined = spark.sql(query)
right_joined.show()

+----+--------+-----+------+---------+---------+
|name|capacity|opens|closes|storename|occupants|
+----+--------+-----+------+---------+---------+
|   a|      24|    8|    20|        a|        8|
|   b|      36|    7|    21|        b|       20|
|   c|      18|    5|    23|        c|       16|
|null|    null| null|  null|        d|       55|
|null|    null| null|  null|        e|        8|
+----+--------+-----+------+---------+---------+

**DataframeAPI**

In [17]:
# `stores_sdf` is our stores data DataFrame
from pyspark.sql.functions import col

right_joined = stores_sdf.join(
  occupants_sdf,
  col("name") == col("storename"),
  "right"
)

right_joined.show()

+----+--------+-----+------+---------+---------+
|name|capacity|opens|closes|storename|occupants|
+----+--------+-----+------+---------+---------+
|   a|      24|    8|    20|        a|        8|
|   b|      36|    7|    21|        b|       20|
|   c|      18|    5|    23|        c|       16|
|null|    null| null|  null|        d|       55|
|null|    null| null|  null|        e|        8|
+----+--------+-----+------+---------+---------+

In [5]:
# `stores_sdf` is our stores data DataFrame
right_joined = stores_sdf.join(occupants_sdf, stores_sdf["name"] == occupants_sdf["storename"], "right")
right_joined.show()

+----+--------+-----+------+---------+---------+
|name|capacity|opens|closes|storename|occupants|
+----+--------+-----+------+---------+---------+
|   a|      24|    8|    20|        a|        8|
|   b|      36|    7|    21|        b|       20|
|   c|      18|    5|    23|        c|       16|
|null|    null| null|  null|        d|       55|
|null|    null| null|  null|        e|        8|
+----+--------+-----+------+---------+---------+

- In a right join, all rows from the right table (store_occupants in this case) are included in the result, along with matching rows from the left table (stores in this case).
- If there are no matching rows in the left table for a given row in the right table, then the result will contain NULL values for the columns of the left table.

**Therefore, in this query, the store_occupants table is on the right side of the join, and the stores table is on the left side.**

## Left Join 

- The left join, or left outer join, returns all rows from the left-side data source explicitly joining all rows where the selection criteria is met with the right-side side of the data. When the data doesn’t match, it will insert null values instead.

In [20]:
# Create a View.
stores_sdf.createOrReplaceTempView("stores")
occupants_sdf.createOrReplaceTempView("occupants")

# Write a Query 
query = """
  SELECT *
  FROM stores
  LEFT JOIN occupants
  ON stores.name = occupants.storename
"""

# Perfom Join Operation
left_joined = spark.sql(query)
left_joined.show()

+----+--------+-----+------+---------+---------+
|name|capacity|opens|closes|storename|occupants|
+----+--------+-----+------+---------+---------+
|   a|      24|    8|    20|        a|        8|
|   b|      36|    7|    21|        b|       20|
|   c|      18|    5|    23|        c|       16|
+----+--------+-----+------+---------+---------+

### DataFrame API

In [18]:
left_joined = stores_sdf.join(occupants_sdf, stores_sdf["name"] == occupants_sdf["storename"], "left")

left_joined.show()

+----+--------+-----+------+---------+---------+
|name|capacity|opens|closes|storename|occupants|
+----+--------+-----+------+---------+---------+
|   a|      24|    8|    20|        a|        8|
|   b|      36|    7|    21|        b|       20|
|   c|      18|    5|    23|        c|       16|
+----+--------+-----+------+---------+---------+

In [23]:
# `stores_sdf` is our stores data DataFrame
from pyspark.sql.functions import col

leftjoin_ed = stores_sdf.join(occupants_sdf,col("name") == col("storename"),"left")

leftjoin_ed.show()

+----+--------+-----+------+---------+---------+
|name|capacity|opens|closes|storename|occupants|
+----+--------+-----+------+---------+---------+
|   a|      24|    8|    20|        a|        8|
|   b|      36|    7|    21|        b|       20|
|   c|      18|    5|    23|        c|       16|
+----+--------+-----+------+---------+---------+

In [39]:
# Create a view to store coffee shops with fewer than 20 seats
boutiques_sdf = stores_sdf.filter(stores_sdf["capacity"] < 20).select("name").withColumnRenamed("name", "boutiquename")
boutiques_sdf.createOrReplaceTempView("boutiques")

# Write a Query 
query = """
  SELECT *
  FROM boutiques
"""

# Execute Query
boutique_sql_df = spark.sql(query)
boutique_sql_df.show()


## Semi Join Operation 
query = """
  SELECT * 
  FROM stores
  SEMI JOIN boutiques
  ON stores.name = boutiques.boutiquename
"""

# Perfom Join Operation
semi_joined = spark.sql(query)
semi_joined.show()

+------------+
|boutiquename|
+------------+
|           c|
+------------+

+----+--------+-----+------+
|name|capacity|opens|closes|
+----+--------+-----+------+
|   c|      18|    5|    23|
+----+--------+-----+------+

- The result of the operation is that we find the one coffee shop that is a boutique coffee shop. 
- It just so happens to be the one row from our stores data that intersects with the boutiques data. Let’s look now at the reverse of the semi-join, which is the anti-join.